<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-108">
    <div class="cs-container">
        <ul class="cs-ul">
            <li class="cs-li">
                <a href="" class="cs-link">Home</a>
            </li>
            <li class="cs-li">
                <a href="" class="cs-link">About</a>
            </li>
            <li class="cs-li">
                <a href="" class="cs-link">Services</a>
            </li>
            <li class="cs-li">
                <a href="" class="cs-link">Gallery</a>
            </li>
            <li class="cs-li">
                <a href="" class="cs-link">Contact</a>
            </li>
        </ul>
        <span class="cs-copyright">© {{site.currentYear}} Copyright</span>
    </div>
</footer>
                                