<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-top-bar">
        <div class="cs-top-container">
            <div class="cs-top-contact">
                <a href="tel:{{client.phoneForTel}}" class="cs-top-link">
                    <img class="cs-link-icon"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/phone-grey.svg" alt="logo"
                        width="16" height="16" aria-hidden="true" decoding="async">
                    {{ client.phoneFormatted }}
                </a>
                <a href="" class="cs-top-link">
                    <img class="cs-link-icon"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/clock-grey.svg" alt="logo"
                        width="20" height="20" aria-hidden="true" decoding="async">
                    Opening hours: Mon - Fri: 8:00am To 4:30pm
                </a>
            </div>
            <div class="cs-top-social">
                <a href={{client.social.facebook}} class="cs-social-link">
                    <img class="cs-social-icon"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/face-grey.svg" alt="logo"
                        width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href={{client.social.instagram}} class="cs-social-link">
                    <img class="cs-social-icon"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/insta-grey.svg" alt="logo"
                        width="12" height="12" aria-hidden="true" decoding="async">
                </a>
            </div>
        </div>
    </div>
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/images/bodas-image-logo.webp" alt="logo" width="197" height="43" aria-hidden="true"
                decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link cs-active">
                            Home
                        </a>
                    </li>
                    <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                    <li class="cs-li cs-dropdown" tabindex="0">
                        <a href="/services" class="cs-li-link">
                            Services
                            <img class="cs-drop-icon"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chev-down.svg"
                                alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </a>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li">
                                <a href="/services/kitchen-remodeling/" class="cs-li-link cs-drop-link">Kitchen
                                    Remodeling</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/services/bathroom-remodeling/" class="cs-li-link cs-drop-link">Bathroom
                                    Remodeling</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/services/home-additions/" class="cs-li-link cs-drop-link">Home Additions</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/services/house-renovations/" class="cs-li-link cs-drop-link">House
                                    Renovation</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/services/deck-construction-and-renovation/"
                                    class="cs-li-link cs-drop-link">Deck Construction & Renovation</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/services/stairway-and-railing-construction/"
                                    class="cs-li-link cs-drop-link">Stairway & Railing Construction</a>
                            </li>
                        </ul>
                    </li>
                    <li class="cs-li">
                        <a href="/projects" class="cs-li-link">
                            Projects
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/contact" class="cs-button-solid cs-nav-button">Contact Us</a>
    </div>
</header>