---
title: "The Main Branch"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: '/'
eleventyNavigation:
    key: 'Main'
    order: '100'
---

{% block head %}
    <link rel="stylesheet" href="/assets/styles/home.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}
    <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2325">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">We're Building For Better Futures</h1>
            <p class="cs-text">
                In our relentless pursuit of progress, we are dedicated to constructing a future where innovation, sustainability, and inclusivity converge seamlessly.
            </p>
            <a href="" class="cs-button-solid">
                Get Started Today
                <img class="cs-button-arrow" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white-arrow-up.svg" decoding="async" alt="arrow" width="20" height="20" aria-hidden="true">
            </a>
        </div>
        <!--To make your own background crops of people use https://www.remove.bg/-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-man2.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-man2.png">
            <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-man2.png" alt="construction worker" width="581" height="662">
        </picture>
    </div>
    <div class="cs-image-group">
        <!--Left Image-->
        <picture class="cs-background cs-background1">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction2.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction2.jpg">
            <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction2.jpg" alt="construction site" width="1290" height="684">
        </picture>
        <!--Right Image-->
        <picture class="cs-background cs-background2">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg">
            <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg" alt="construction site" width="630" height="684">
        </picture>
    </div>
    <ul class="cs-card-group">
        <li class="cs-item">
            <picture class="cs-item-picture">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg" alt="construction site" width="80" height="80">
            </picture>
            <h3 class="cs-h3">Best House Renovations</h3>
        </li>
        <li class="cs-item">
            <picture class="cs-item-picture">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg" alt="construction site" width="80" height="80">
            </picture>
            <h3 class="cs-h3">Quality That Matters</h3>
        </li>
        <li class="cs-item">
            <picture class="cs-item-picture">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg" alt="construction site" width="80" height="80">
            </picture>
            <h3 class="cs-h3">Shaping Modern Spaces</h3>
        </li>
    </ul>
</section>
           
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-2333">
    <div class="cs-container">
        <div class="cs-content-wrapper">
            <div class="cs-content">
                <span class="cs-topper">Our services</span>
                <h2 class="cs-title">Awesome Services!</h2>
                <p class="cs-text">
                    At Buildstitch Construction, we bring your dreams to life with a commitment to excellence.
                </p>
                <a href="" class="cs-button-solid">View All</a>
            </div>   
            <picture class="cs-content-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-clip2.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-clip2.png">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-clip2.png" alt="room" width="413" height="420">
            </picture>
        </div>               
        <div class="cs-card-wrapper">
            <span class="cs-header">Popular Services</span>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/nuclear.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/nuclear.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/nuclear.jpg" alt="room" width="413" height="420">
                        </picture>
                        <h3 class="cs-h3">Tailored Living, Built for You</h3>
                        <p class="cs-item-text">
                            Experience the joy of a custom-built home designed to match your vision, needs, and lifestyle perfectly.
                        </p>
                        <span class="cs-fake-link">
                            View More
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black%20upper%20right%20arrow.svg" alt="icon" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                        </span>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/worker5.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/worker5.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/worker5.jpg" alt="room" width="413" height="420">
                        </picture>
                        <h3 class="cs-h3">Outdoor Spaces, Redefined</h3>
                        <p class="cs-item-text">
                            Transform your exterior with striking hardscaping solutions that bring beauty, durability, and purpose to your property.
                        </p>
                        <span class="cs-fake-link">
                            View More
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black%20upper%20right%20arrow.svg" alt="icon" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                        </span>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/containers.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/containers.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/containers.jpg" alt="room" width="413" height="420">
                        </picture>
                        <h3 class="cs-h3">More Space, More Possibilities</h3>
                        <p class="cs-item-text">
                            Enhance your home’s potential with expertly designed extensions that blend style and practicality seamlessly.
                        </p>
                        <span class="cs-fake-link">
                            View More
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black%20upper%20right%20arrow.svg" alt="icon" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
                                

{% endblock %}