/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-2333 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1440px at tablet */
            max-width: (550/16rem);
            margin: auto;
            background-color: #f7f7f7;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-content-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: (48/16rem);
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: .05;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            padding: (48/16rem) clamp(1rem, 4vw, 4rem) 0;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-content-picture {
            width: 100%;
            max-width: (400/16rem);
            height: auto;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            max-width: (640/16rem);
            margin-bottom: (16/16rem);
            position: relative;
            z-index: 1;

            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-wrapper {
            /* 32px - 48px top & Bottom */
            /* 16px - 48px left & right */
            padding: clamp(2rem, 4vw, 4rem) clamp(1rem, 4vw, 4rem);
        }

        .cs-header {
            font-size: 13/16rem;
            text-transform: uppercase;
            line-height: 1.2em;
            font-weight: 700;
            /* 16px - 20px */
            margin: 0 0 clamp(1rem, 3vw, 1.25rem);
            color: var(--primary);
            display: block;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
            row-gap: (32/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            align-items: flex-start;

            &:hover {
                .cs-picture {
                    img {
                        opacity: .5;
                        transform: scale(1.2);
                    }
                }
            }
        }

        .cs-link {
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-picture {
            width: 100%;
            height: 56vw;
            max-height: (308/16rem);
            margin-bottom: (24/16rem);
            background-color: #000;
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform .6s, opacity .3s;
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0 0 (24/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-fake-link {
            font-size: (16/16rem);
            text-transform: uppercase;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            margin-top: auto;
            padding-bottom: 8px;
            color: var(--headerColor);
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
            position: relative;
            z-index: 1;

            &:hover {
                .cs-icon {
                    transform: translateX(.2rem) rotate(45deg);
                }
            }

            &:before {
                content: '';
                width: 100%;
                height: 1px;
                background: var(--headerColor);
                opacity: 1;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .cs-icon {
            width: (20/16rem);
            height: auto;
            display: block;
            transition: transform .3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-2333 {
        .cs-container {
            max-width: (1440/16rem);
        }

        .cs-content-wrapper {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 0;
        }

        .cs-content {
            padding-left: 0;
            padding-bottom: (48/16rem);
        }

        .cs-content-picture {
            order: -1;
        }

        .cs-item {
            grid-column: span 4;
        }

        .cs-picture {
            height: 26vw;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-2333 {
        .cs-container {
            flex-direction: row;
            align-items: stretch;
        }

        .cs-content-wrapper {
            max-width: (413/16rem);
            height: auto;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-content {
            padding-left: (48/16rem);
        }

        .cs-content-picture {
            order: 1;
        }
    }
}