/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-2325 {
        /* 150px - 300px Top */
        padding: clamp(9rem, 30.95vw, 18.75rem) (16/16rem) (60/16rem);
        overflow: hidden;
        position: relative;
        z-index: 10;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: (88/16rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.2em;
            width: 100%;
            max-width: 17ch;
            margin: 0 0 (16/16rem);
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            line-height: 1.5em;
            width: 100%;
            max-width: (700/16rem);
            /* 28px - 40px */
            margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
            color: var(--bodyTextColorWhite);
            opacity: .8;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            text-align: center;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            /* clips corners of the before element */
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 (28/16rem);
            background-color: var(--primary);
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            gap: (12/16rem);
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;

                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            max-width: (1280/16rem);
            padding: 0;
            margin: auto;
            background-color: #fff;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 10;
        }

        .cs-item {
            width: 100%;
            /* 16px - 24px top & Bottom */
            /* 16px - 40px left & right */
            padding: clamp(1rem, 3vw, 1.5rem) clamp(1rem, 3vw, 2.5rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (20/16rem);

            &:nth-of-type(2) {
                background-color: var(--primary);
            }
        }

        .cs-item-picture {
            /* 48px - 80px */
            width: clamp(3rem, 6vw, 5rem);
            height: clamp(3rem, 6vw, 5rem);
            border-radius: 50%;
            overflow: hidden;
            display: block;
            flex: none;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-h3 {
            font-size: clamp(1rem, 3vw, 1.25rem);
            line-height: 1.2em;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-picture {
            width: 100%;
            /* 427px - 581px */
            max-width: clamp(26.6875rem, 50vw, 36.3125rem);
            height: auto;
            display: flex;
            align-items: flex-end;
            position: relative;
            z-index: 7;

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-image-group {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-background1 {
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: #000;
                opacity: .72;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-background2 {
            height: 100vw;
            max-height: (480/16rem);
            flex: none;
            bottom: (200/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-2325 {
        padding-bottom: (240/16rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: (90/16rem);

        .cs-container {
            justify-content: flex-start;
            flex-direction: row;
        }

        .cs-content {
            text-align: left;
            width: 53%;
            align-items: flex-start;
        }

        .cs-card-group {
            width: 96%;
            flex-direction: row;
            justify-content: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-item {
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-picture {
            width: 56%;
            position: absolute;
            bottom: (-120/16rem);
            right: (-10/16rem);
        }

        .cs-image-group {
            flex-direction: row;
        }

        .cs-background2 {
            width: 25vw;
            height: 100%;
            max-height: 100%;
            border-left: 2px solid #FFC219;
            bottom: auto;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-2325 {
        /* 100px - 172px */
        padding-bottom: clamp(15.625rem, 24vw, 27rem);

        .cs-item {
            flex-direction: row;
            align-items: center;
        }

        .cs-picture {
            width: 45%;
            /* same value as the padding, but opposite */
            bottom: calc(clamp(9.25rem, 20vw, 19.9375rem)*-1);
            /* 32px - 80px */
            right: (16/16rem);
        }

        .cs-background2 {
            width: 32.8125vw;
        }
    }
}