/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-2325 {
        /* 150px - 300px Top */
        padding: clamp(9rem, 30.95vw, 18.75rem) (16/16rem) (60/16rem);
        overflow: hidden;
        position: relative;
        z-index: 10;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: (88/16rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.2em;
            width: 100%;
            max-width: 17ch;
            margin: 0 0 (16/16rem);
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            line-height: 1.5em;
            width: 100%;
            max-width: (700/16rem);
            /* 28px - 40px */
            margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
            color: var(--bodyTextColorWhite);
            opacity: .8;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            text-align: center;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            /* clips corners of the before element */
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 (28/16rem);
            background-color: var(--primary);
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            gap: (12/16rem);
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;

                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            max-width: (1280/16rem);
            padding: 0;
            margin: auto;
            background-color: #fff;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 10;
        }

        .cs-item {
            width: 100%;
            /* 16px - 24px top & Bottom */
            /* 16px - 40px left & right */
            padding: clamp(1rem, 3vw, 1.5rem) clamp(1rem, 3vw, 2.5rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (20/16rem);

            &:nth-of-type(2) {
                background-color: var(--primary);
            }
        }

        .cs-item-picture {
            /* 48px - 80px */
            width: clamp(3rem, 6vw, 5rem);
            height: clamp(3rem, 6vw, 5rem);
            border-radius: 50%;
            overflow: hidden;
            display: block;
            flex: none;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-h3 {
            font-size: clamp(1rem, 3vw, 1.25rem);
            line-height: 1.2em;
            margin: 0;
            color: var(--headerColor);
        }

        // hide .cs-picture on mobile

        .cs-picture {
            width: 100%;
            /* 427px - 581px */
            max-width: clamp(26.6875rem, 50vw, 36.3125rem);
            height: auto;
            display: none;
            align-items: flex-end;
            position: relative;
            z-index: 7;

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-image-group {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-background1 {
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: #000;
                opacity: .72;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-background2 {
            height: 100vw;
            max-height: (480/16rem);
            flex: none;
            bottom: (200/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-2325 {
        padding-bottom: (240/16rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: (90/16rem);

        .cs-container {
            justify-content: flex-start;
            flex-direction: row;
        }

        .cs-content {
            text-align: left;
            width: 53%;
            align-items: flex-start;
        }

        .cs-card-group {
            width: 96%;
            flex-direction: row;
            justify-content: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-item {
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-picture {
            width: 56%;
            position: absolute;
            bottom: (-120/16rem);
            right: (-10/16rem);
        }

        .cs-image-group {
            flex-direction: row;
        }

        .cs-background2 {
            width: 25vw;
            height: 100%;
            max-height: 100%;
            border-left: 2px solid #FFC219;
            bottom: auto;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-2325 {
        /* 100px - 172px */
        padding-bottom: clamp(15.625rem, 24vw, 27rem);

        .cs-item {
            flex-direction: row;
            align-items: center;
        }

        .cs-picture {
            width: 45%;
            // bottom make it half the view height calculated
            bottom: 20rem;
            /* 32px - 80px */
            right: (16/16rem);
            display: flex;

        }

        .cs-background2 {
            width: 32.8125vw;
        }
    }
}

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #hero-2349 {
        display: flex;
        flex-direction: column;
        gap: (48/16rem);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1800/16rem);
            margin: auto;
            /* 392px - 560px */
            padding-top: clamp(350px, 58vw, 600px);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            width: 100%;
            max-width: (952/16rem);
            padding: var(--sectionPadding);
            padding-top: 0;
            padding-bottom: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            row-gap: (16/16rem);
        }

        .cs-title {
            /* 39px - 90px */
            font-size: clamp(2.4375rem, 6vw, 5.625rem);
            margin-bottom: 0;
            max-width: 100%;
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: (32/16rem);
            max-width: (872/16rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            align-self: flex-start;
        }

        .cs-stats {
            margin: 0;
            /* 24px - 40px top & bottom */
            /* 16px - 60px left & right */
            padding: clamp(1.5rem, 5vw, 2.5rem) clamp(1rem, 5vw, 3.75rem);
            box-sizing: border-box;
            background-color: #f7f7f7;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: (30/16rem);
            row-gap: (64/16rem);
        }

        .cs-item {
            list-style: none;
            grid-column: span 4;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-number {
            /* 25px - 49px */
            font-size: clamp(1.5625rem, 5vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-color {
            color: var(--primary);
            display: inline-block;
            transform: translateX(5px);
        }

        .cs-desc {
            /* 14px - 20px */
            font-size: clamp(0.875rem, 2vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -2;

            &:before {
                /* gradient Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-2349 {
        padding: var(--sectionPadding);
        padding-top: 0;
        /* 48px - 60px */
        padding-bottom: clamp(3rem, 4vw, 3.75rem);

        .cs-content {
            width: 55%;
            padding: 0;
        }

        .cs-stats {
            width: auto;
            background-color: #fff;
            column-gap: 0;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;
        }

        .cs-item {
            grid-column: span 12;
        }
    }
}

/* Large Desktop - 1600px */
@media only screen and (min-width: 100rem) {
    #hero-2349 {
        .cs-stats {
            grid-template-columns: repeat(3, 1fr);
            gap: (72/16rem);
        }

        .cs-item {
            grid-column: span 1;
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #services-2349 {
        padding: var(--sectionPadding);

        .cs-card-group {
            width: 100%;
            max-width: (1800/16rem);
            margin: 0 auto;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px, changes to 100px at large desktop 1300px */
            column-gap: clamp(1rem, 3vw, 1.25rem);
            row-gap: (32/16rem);
        }

        .cs-item {
            list-style: none;
            text-align: left;
            margin: 0;
            padding: 0;
            grid-column: span 12;
        }

        .cs-link {
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            margin-bottom: (24/16rem);
            display: block;
        }

        .cs-h2 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (16/16rem);
            padding-bottom: (16/16rem);
            height: 100%;
            color: var(--headerColor);
            border-bottom: 1px solid #e3ddd9;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: (16/16rem);
        }

        .cs-item-text {
            font-size: (16/16rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-2349 {
        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-2349 {
        .cs-item {
            grid-column: span 3;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-2349 {
        .cs-card-group {
            column-gap: (100/16rem);
        }
    }
}